<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin: 50px;">
    <%= f.input :first_name,
                label: false,
                required: true,
                input_html: { placeholder:"first name", autocomplete: "first-name" }%>
    <%= f.input :last_name,
                label: false,
                required: true,
                input_html: { placeholder:"last name", autocomplete: "last-name" }%>
    <%= f.input :address,
                label: false,
                required: true,
                input_html: { type:"search",placeholder:"address", id: "address-input", autocomplete: "address" }%>
                <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
                <script>
                var placesAutocomplete = places({
                  container: document.querySelector('#address-input')
                });
                </script>
    <%= f.input :photo,
                as: :file,
                label: false,
                required: true,
                input_html: { placeholder:"photo", multiple: true } %>
    <%= f.input :username,
                label: false,
                required: true,
                input_html: { placeholder:"username", autocomplete: "username" }%>
    <%= f.input :email,
                label: false,
                required: true,
                input_html: {placeholder:"email", autocomplete: "email" }%>
    <%= f.input :password,
                label: false,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: {placeholder:"password", autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: false,
                required: true,
                input_html: {placeholder:"confirm password", autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
